Package: com.example.respringlesstweak
Name: Respringless
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: You
Author: You
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
